%section.contexto
  %label.contexto Tarifa > Listado
  %hr.contexto{:size => "1"}
%section#areaTrabajo.areaTrabajo
  %p#notice= notice
  %table#usuarios.display
    %thead
      %tr
      %th Desde
      %th Hasta 
      %th Aporte Bs.
      %th Tipo de Aporte
      %th Tipo de Usuario
      - if UsuariosAlcance.verificar_alcance(session[:perfil], session[:gerencia], 'Editar Tarifas')
        %th
      - if UsuariosAlcance.verificar_alcance(session[:perfil], session[:gerencia],'Eliminar Tarifas')
        %th
    %tbody
      - @tarifas.each do |tarifa|
        %tr
          %td= tarifa.desde
          %td= tarifa.hasta
          %td= tarifa.aporte_bs
          %td= tarifa.tipo_aporte
          %td= (TipoUsuarioEmpresa.where(["id_tipo_usu_empresa = ?",tarifa.id_tipo_usuario]).first).descripcion
          - if UsuariosAlcance.verificar_alcance(session[:perfil], session[:gerencia], 'Editar Tarifas')
            %td= link_to(( content_tag(:span, '',:class => 'ui-icon ui-icon-extlink')+'Editar').html_safe,  edit_tarifa_path(tarifa),  {:class => "ui-state-default ui-corner-all botones_servicio", :title => "Editar tarifa #{tarifa.desde} - #{tarifa.hasta}"})
          - if UsuariosAlcance.verificar_alcance(session[:perfil], session[:gerencia], 'Eliminar Tarifas')
            %td= link_to(( content_tag(:span, '',:class => 'ui-icon.ui-icon-circle-close')+'Eliminar').html_safe,  tarifa, method: :delete, data: { confirm: 'Desea ELIMINAR esta tarifa?'}, :class => "ui-state-default ui-corner-all botones_servicio", :title => "Eliminar tarifa  #{tarifa.desde} - #{tarifa.hasta}")


  %br
  %br
  %a.ui-state-default.ui-corner-all.regresar_empresas{:href => "/empresas", :title => "Regresar listado general de empresas"}
    %span.ui-icon.ui-icon-arrowreturnthick-1-w
    Regresar

    

  
  
